<!--<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Login</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/registration']" class="btn btn-link">registration</a>
    </div>
</form>
-->
<body>
<div class="wrapper">
    <div class="container">
        <br/>
        <h1><small>Welcome to James' Dessert Shop</small></h1>
        <br/>
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <br/>
            <input type="text" placeholder="Username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" #username required>
            <input type="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" #password required>
            <br/>
            <!--<label class="error" *ngIf="f.username.errors.required">Username is required</label>-->
            <br><button [disabled]="loading">Login</button>
            <br><a class="register" href="#" [routerLink]="['/registration']">Create account</a>
            <br/><br/><br/>
            <div *ngIf="submitted && f.username.errors" class="error">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
            <div *ngIf="submitted && f.password.errors" class="error">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        </form>
    </div>
</div>
<div class="bg-boxes">
    <svg width="300px" height="100%" id="col1">
      <rect width="150px" height="150px" x="75px" y="75px" class="bubble" id="bub1" />
    </svg>
    <svg width="200px" height="100%" id="col2">
      <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub2" />
    </svg>
    <svg width="260px" height="100%" id="col3">
        <rect width="130px" height="130px" x="65px" y="65px" class="bubble" id="bub3" />
    </svg>
    <svg width="160px" height="100%" id="col4">
        <rect width="80px" height="80px" x="40px" y="40px" class="bubble" id="bub4" />
    </svg>
    <svg width="240px" height="100%" id="col5">
        <rect width="120px" height="120px" x="60px" y="60px" class="bubble" id="bub5" />
    </svg>
    <!--Here is a triangle-->
    <svg width="200px" height="100%" id="col6">
        <polygon points="50,150 100,50 150,150" class="bubble" id="bub6" />
    </svg>
    <svg width="200px" height="100%" id="col7">
        <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub7" />
    </svg>
    <svg width="200px" height="100%" id="col8">
        <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub8" />
    </svg>
    <svg width="200px" height="100%" id="col9">
        <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub9" />
    </svg>
    <svg width="200px" height="100%" id="col10">
        <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub10" />
    </svg>
    <svg width="100px" height="100%" id="col11">
        <rect width="50px" height="50px" x="25px" y="25px" class="bubble" id="bub11" />
    </svg>
</div>    
</body>

