<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<div style="width:100%; background-color: rgb(34, 34, 27)">
    <br/>
    &nbsp;&nbsp;&nbsp;<i class="fas fa-cookie-bite" style="color: rgb(90, 79, 235); font-size: 50px;">&nbsp;James' Dessert</i>
    &nbsp;&nbsp;&nbsp;<button type="button" (click)="logout()" style="border:none; background-color:rgb(34, 34, 27); color: white; font-family: Roboto, Helvetica, sans-serif; float:right;">Logout>>&nbsp;</button>
</div>

<router-outlet></router-outlet>


