<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
  <div class="wrapper">
      <div>
          <br/>
          &nbsp;&nbsp;&nbsp;<i class="fas fa-cookie-bite" style="color: rgb(90, 79, 235); font-size: 50px;">&nbsp;James' Dessert</i>
      </div>
      <div class="container">
          <br/><br/><br/><br/><br/><br/>
          <h2>Your order is on the way. Thank you!</h2>
          <br/><br/><br/><br/><br/><br/>
          <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <br><a class="register" href="#" [routerLink]="['/home']">&nbsp;Continue Shopping&nbsp;</a>
          </form>
      </div>
  </div>
  <div class="bg-boxes">
      <svg width="300px" height="100%" id="col1">
        <rect width="150px" height="150px" x="75px" y="75px" class="bubble" id="bub1" />
      </svg>
      <svg width="200px" height="100%" id="col2">
        <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub2" />
      </svg>
      <svg width="260px" height="100%" id="col3">
          <rect width="130px" height="130px" x="65px" y="65px" class="bubble" id="bub3" />
      </svg>
      <svg width="160px" height="100%" id="col4">
          <rect width="80px" height="80px" x="40px" y="40px" class="bubble" id="bub4" />
      </svg>
      <svg width="240px" height="100%" id="col5">
          <rect width="120px" height="120px" x="60px" y="60px" class="bubble" id="bub5" />
      </svg>
      <!--Here is a triangle-->
      <svg width="200px" height="100%" id="col6">
          <polygon points="50,150 100,50 150,150" class="bubble" id="bub6" />
      </svg>
      <svg width="200px" height="100%" id="col7">
          <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub7" />
      </svg>
      <svg width="200px" height="100%" id="col8">
          <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub8" />
      </svg>
      <svg width="200px" height="100%" id="col9">
          <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub9" />
      </svg>
      <svg width="200px" height="100%" id="col10">
          <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub10" />
      </svg>
      <svg width="100px" height="100%" id="col11">
          <rect width="50px" height="50px" x="25px" y="25px" class="bubble" id="bub11" />
      </svg>
  </div>    
  </body>
  
  
<p>
  Your order is on the way. Thank you.
</p>
